body {
    font-family: Arial;
    background: #fff8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #ccc;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  